# 掘金量化-财务数据获取

In [1]:
from gm.api import *
set_token("eea4b28a3ceb7048603d388bb777ebc67de47385")

## 获取股票信息

## get_instruments - 查询最新交易标的信息

get_instruments(symbols=None, exchanges=None, sec_types=None, names=None, skip_suspended=True, skip_st=True, fields=None, df=False)

主要作用：

* 获得某类股票的代码
* 获取股票是否停牌，发行时间等基本信息

exchange

市场中文名	市场代码

上交所	SHSE

深交所	SZSE

中金所	CFFEX

上期所	SHFE

大商所	DCE

郑商所	CZCE

上海国际能源交易中心	INE

In [5]:
help(get_instruments)

Help on function wrapper in module gm.api.query:

wrapper(*args, **kw)

In [2]:
#获取单个股票信息
get_instruments(symbols='SHSE.600000', df=True)

,adj_factor,multiplier,is_suspended,margin_ratio,position,lower_limit,pre_close,settle_price,upper_limit,sec_level,...,board,sec_name,price_tick,delisted_date,call_or_put,sec_abbr,option_margin_ratio2,sec_type,conversion_start_date,is_adjusted
0,14.0926,1.0,0,1.0,0,7.26,8.07,0.0,8.88,1,...,1,浦发银行,0.01,2038-01-01 00:00:00+08:00,,pfyx,0.0,1,None,0

In [3]:
# 交易所所有股票信息
ex5=get_instruments(exchanges='SZSE', df=True)
ex5

,adj_factor,multiplier,is_suspended,margin_ratio,position,lower_limit,pre_close,settle_price,upper_limit,sec_level,...,board,sec_name,price_tick,delisted_date,call_or_put,sec_abbr,option_margin_ratio2,sec_type,conversion_start_date,is_adjusted
0,121.3988,1.0,0,1.0,0,14.18,15.7500,0.0,17.33,1,...,1,平安银行,0.01,2038-01-01 00:00:00+08:00,,payx,0.0,1,NaT,0
1,151.4445,1.0,0,1.0,0,18.59,20.6600,0.0,22.73,1,...,1,万科A,0.01,2038-01-01 00:00:00+08:00,,wkA,0.0,1,NaT,0
2,7.4454,1.0,0,1.0,0,17.60,19.5600,0.0,21.52,1,...,1,国华网安,0.01,2038-01-01 00:00:00+08:00,,ghwa,0.0,1,NaT,0
3,49.2924,1.0,0,1.0,0,4.88,5.4200,0.0,5.96,1,...,1,深振业A,0.01,2038-01-01 00:00:00+08:00,,szyA,0.0,1,NaT,0
4,26.8933,1.0,0,1.0,0,2.30,2.5500,0.0,2.81,1,...,1,神州高铁,0.01,2038-01-01 00:00:00+08:00,,szgt,0.0,1,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4020,0.0000,1.0,0,1.0,0,0.00,1564.6021,0.0,0.00,1,...,0,信息安全,0.00,2038-01-01 00:00:00+08:00,,xxaq,0.0,3,NaT,0
4021,0.0000,1.0,0,1.0,0,0.00,4331.6421,0.0,0.00,1,...,0,基建工程,0.00,2038-01-01 00:00:00+08:00,,jjgc,0.0,3,NaT,0
4022,0.0000,1.0,0,1.0,0,0.00,2693.2241,0.0,0.00,1,...,0,智能家居,0.00,2038-01-01 00:00:00+08:00,,znjj,0.0,3,NaT,0
4023,0.0000,1.0,0,1.0,0,0.00,13921.5244,0.0,0.00,1,...,0,中证白酒,0.00,2038-01-01 00:00:00+08:00,,zzbj,0.0,3,NaT,0
4024,0.0000,1.0,0,1.0,0,0.00,2348.9773,0.0,0.00,1,...,0,中证煤炭,0.00,2038-01-01 00:00:00+08:00,,zzmt,0.0,3,NaT,0

## get_industry - 查询行业股票列表


行业代码

https://www.myquant.cn/docs/data/python_second_industry

In [6]:
#返回所有以J6开头的行业代码对应的成分股(包括:J66,J67,J68,J69的成分股)
get_industry(code='A0')

['SHSE.600097',
 'SHSE.600108',
 'SHSE.600257',
 'SHSE.600265',
 'SHSE.600313',
 'SHSE.600359',
 'SHSE.600371',
 'SHSE.600506',
 'SHSE.600598',
 'SHSE.600354',
 'SHSE.600467',
 'SHSE.600540',
 'SHSE.600975',
 'SZSE.000592',
 'SZSE.000713',
 'SZSE.000735',
 'SZSE.000798',
 'SZSE.000998',
 'SZSE.002041',
 'SZSE.002069',
 'SZSE.002086',
 'SZSE.002200',
 'SZSE.002234',
 'SZSE.200992',
 'SZSE.002299',
 'SZSE.002321',
 'SZSE.300087',
 'SZSE.300094',
 'SZSE.002458',
 'SZSE.300106',
 'SHSE.601118',
 'SZSE.300189',
 'SZSE.300313',
 'SZSE.002679',
 'SZSE.002696',
 'SZSE.002714',
 'SZSE.002746',
 'SZSE.002772',
 'SZSE.300498',
 'SZSE.300511',
 'SHSE.603477',
 'SZSE.140006',
 'SZSE.300761',
 'SZSE.002982',
 'SZSE.300967',
 'SZSE.300970',
 'SZSE.300972',
 'SZSE.001201',
 'SZSE.300970',
 'SZSE.300967',
 'SZSE.300972',
 'SHSE.605296',
 'SZSE.001201']

## get_constituents - 查询指数最新成份股

get_constituents(index, fields=None, df=False)


各种指数代码

https://www.myquant.cn/docs/data/data_index

In [7]:
get_constituents(index='SHSE.000001', fields='symbol, weight', df=True)

           symbol  weight
0     SHSE.688001    0.03
1     SHSE.688002    0.10
2     SHSE.688003    0.01
3     SHSE.688005    0.07
4     SHSE.688010    0.01
...           ...     ...
1557  SHSE.900952    0.00
1558  SHSE.900947    0.01
1559  SHSE.900948    0.01
1560  SHSE.900953    0.00
1561  SHSE.900957    0.00

[1562 rows x 2 columns]

In [ ]:
get_instruments

## classwork 1

1 获取“酒、饮料和精制茶制造业”行业前十个股票的信息

2 获取“380信息” 前十个股票信息

3 查询“酒、饮料和精制茶制造业”行业前十个股票的上个月的收盘价

4，实现策略：2021年初购买“380信息” 前十个股票，看现在的收益情况

['SHSE.600059',
 'SHSE.600084',
 'SHSE.600132',
 'SHSE.600189',
 'SHSE.600197',
 'SHSE.600199',
 'SHSE.600238',
 'SHSE.600300',
 'SHSE.600365',
 'SHSE.600519']

['SHSE.600460',
 'SHSE.688008',
 'SHSE.688002',
 'SHSE.603444',
 'SHSE.603613',
 'SHSE.600845',
 'SHSE.603267',
 'SHSE.603678',
 'SHSE.600563',
 'SHSE.600667']

0      13.06
1       3.51
2     171.55
3      12.72
4      30.32
5      15.30
6      15.21
7       3.58
8       2.99
9    2071.29
Name: pre_close, dtype: float64

0      13.06
1     171.55
2      12.72
3      30.32
4      15.30
5      15.21
6    2071.29
Name: pre_close, dtype: float64

## 财务数据

https://www.myquant.cn/docs/data/data_derive

股票交易衍生表 表名: trading_derivative_indicator（有股价参与的量随时间变化快，没有股价参与则变化慢）

资产负债表  表名: balance_sheet

现金流量表  表名: cashflow_statement

利润表  表名: income_statement

主要财务指标  表名: prim_finance_indicator

衍生财务指标 表名: deriv_finance_indicator

## 重要的财务指标

视频：

https://www.zhihu.com/zvideo/1378719325843496960

https://www.bilibili.com/video/BV1of4y1W7uA?from=search&seid=14568563005615111318

https://www.bilibili.com/video/BV1Sz4y197vh?from=search&seid=14568563005615111318

视频课程：

https://www.bilibili.com/video/BV1UV411677D?from=search&seid=1487702117528889861

# 获取财务数据函数


## get_fundamentals - 查询基本面数据

get_fundamentals(table, symbols, start_date, end_date, fields=None, filter=None, order_by=None, limit=1000, df=False)


1.当 start_date == end_date 时, 取所举每个股票离 end_date 最近业务日期(交易日期或报告日期) 一条数据,当 start_date < end_date 时, 取指定时间段的数据,当 start_date > end_date 时, 返回空list/空DataFrame

2.当不指定排序方式时,返回的list/DataFrame以参数pub_date/end_date来排序

3.start_date和end_date中月,日均可以只输入个位数,例:'2010-7-8'或'2017-7-30'

4.若输入包含无效标的代码，则返回的list/DataFrame只包含有效标的代码对应的数据

5.在该函数中，table参数只支持输入一个表名，若表名输入错误或以'table1,table2'方式输入多个表名，函数返回空list/空DataFrame

6.若表名输入正确，但查询字段中出现非指定字符串，则程序直接报错

In [6]:
ex1=get_fundamentals(table='balance_sheet', symbols=['SHSE.600000', 'SZSE.000001'],
                     start_date='2017-01-01', end_date='2017-06-01',
                     fields='UNDIPROF', df=True)
ex1

        symbol                  pub_date                  end_date    UNDIPROF
0  SHSE.600000 2017-04-27 00:00:00+08:00 2017-03-31 00:00:00+08:00  1.1085e+11
1  SZSE.000001 2017-04-22 00:00:00+08:00 2017-03-31 00:00:00+08:00  6.9483e+10

In [7]:
ex2=get_fundamentals(table='trading_derivative_indicator', symbols='SHSE.600000, SZSE.000001', start_date='2016-01-01', end_date='2017-01-01',
                 fields='TCLOSE,NEGOTIABLEMV,TOTMKTCAP,TURNRATE,PELFY,PETTM,PEMRQ,PELFYNPAAEI,PETTMNPAAEI', df=True)
ex2

,symbol,pub_date,end_date,TCLOSE,NEGOTIABLEMV,TOTMKTCAP,TURNRATE,PELFY,PETTM,PEMRQ,PELFYNPAAEI,PETTMNPAAEI
0,SHSE.600000,2016-01-04 00:00:00+08:00,2016-01-04 00:00:00+08:00,17.80,3.3203e+11,3.3203e+11,0.2264,7.0606,6.7228,6.7010,7.1175,6.8409
1,SZSE.000001,2016-01-04 00:00:00+08:00,2016-01-04 00:00:00+08:00,11.33,1.3374e+11,1.6212e+11,0.4774,8.1869,7.4202,6.8539,8.1708,6.8485
2,SHSE.600000,2016-01-05 00:00:00+08:00,2016-01-05 00:00:00+08:00,17.96,3.3502e+11,3.3502e+11,0.3112,7.1241,6.7832,6.7613,7.1815,6.9024
3,SZSE.000001,2016-01-05 00:00:00+08:00,2016-01-05 00:00:00+08:00,11.40,1.3457e+11,1.6312e+11,0.5619,8.2375,7.4661,6.8962,8.2213,6.8908
4,SHSE.600000,2016-01-06 00:00:00+08:00,2016-01-06 00:00:00+08:00,18.10,3.3763e+11,3.3763e+11,0.2507,7.1796,6.8361,6.8140,7.2375,6.9562
...,...,...,...,...,...,...,...,...,...,...,...,...
483,SZSE.000001,2016-12-28 00:00:00+08:00,2016-12-28 00:00:00+08:00,9.06,1.3256e+11,1.5556e+11,0.2297,7.1147,6.8098,6.2329,7.1027,6.2369
484,SHSE.600000,2016-12-29 00:00:00+08:00,2016-12-29 00:00:00+08:00,16.07,3.2974e+11,3.4741e+11,0.0578,6.8652,6.4187,6.4047,7.0097,6.5613
485,SZSE.000001,2016-12-29 00:00:00+08:00,2016-12-29 00:00:00+08:00,9.08,1.3285e+11,1.5591e+11,0.2315,7.1305,6.8249,6.2466,7.1184,6.2506
486,SHSE.600000,2016-12-30 00:00:00+08:00,2016-12-30 00:00:00+08:00,16.21,3.3261e+11,3.5043e+11,0.0598,6.9250,6.4746,6.4605,7.0707,6.6184
487,SZSE.000001,2016-12-30 00:00:00+08:00,2016-12-30 00:00:00+08:00,9.10,1.3314e+11,1.5625e+11,0.2068,7.1462,6.8399,6.2604,7.1341,6.2644

In [8]:
my_symbols = ['SHSE.600000', 'SHSE.600001', 'SHSE.600002']#注意格式
ex3=get_fundamentals(table='trading_derivative_indicator', start_date='2017-01-01', end_date='2017-01-01', filter='PCTTM > 0 and PCTTM < 10', symbols=my_symbols,
                     fields='TCLOSE,NEGOTIABLEMV,TOTMKTCAP,TURNRATE,PELFY,PETTM,PEMRQ,PELFYNPAAEI,PETTMNPAAEI', df=True)
ex3

,symbol,pub_date,end_date,TCLOSE,NEGOTIABLEMV,TOTMKTCAP,TURNRATE,PELFY,PETTM,PEMRQ,PELFYNPAAEI,PETTMNPAAEI
0,SHSE.600002,2006-04-24 00:00:00+08:00,2006-04-24 00:00:00+08:00,10.09,3.5290e+09,1.9676e+10,0.0,10.7040,10.7040,10.7040,10.6744,10.6744
1,SHSE.600001,2009-12-29 00:00:00+08:00,2009-12-29 00:00:00+08:00,5.29,1.4899e+10,1.4899e+10,0.0,24.8622,-673.6525,55.6226,22.6761,55.6510

## get_fundamentals_n - 查询基本面数据最新n条

取指定股票的最近 end_date 的 count 条记录

get_fundamentals_n(table, symbols, end_date, fields=None, filter=None, order_by=None, count=1, df=False)



1.对每个标的,返回的list/DataFrame以参数pub_date/end_date的倒序来排序

2.end_date中月,日均可以只输入个位数,例:'2010-7-8'或'2017-7-30'

3.若输入包含无效标的代码，则返回的list/DataFrame只包含有效标的代码对应的数据

4.在该函数中，table参数只支持输入一个表名，若表名输入错误或以'table1,table2'方式输入多个表名，函数返回空list/空DataFrame

5.若表名输入正确，但查询字段中出现非指定字符串，则程序直接报错

In [7]:
ex4=get_fundamentals_n(table='trading_derivative_indicator', symbols='SHSE.600000, SZSE.000001', end_date='2017-01-01', count=3,
                   fields='TCLOSE,NEGOTIABLEMV,TOTMKTCAP,TURNRATE,PELFY,PETTM,PEMRQ,PELFYNPAAEI,PETTMNPAAEI',df=True)
ex4

,symbol,pub_date,end_date,TCLOSE,NEGOTIABLEMV,TOTMKTCAP,TURNRATE,PELFY,PETTM,PEMRQ,PELFYNPAAEI,PETTMNPAAEI
0,SHSE.600000,2016-12-30 00:00:00+08:00,2016-12-30 00:00:00+08:00,16.21,3.3261e+11,3.5043e+11,0.0598,6.9250,6.4746,6.4605,7.0707,6.6184
1,SHSE.600000,2016-12-29 00:00:00+08:00,2016-12-29 00:00:00+08:00,16.07,3.2974e+11,3.4741e+11,0.0578,6.8652,6.4187,6.4047,7.0097,6.5613
2,SHSE.600000,2016-12-28 00:00:00+08:00,2016-12-28 00:00:00+08:00,16.09,3.3015e+11,3.4784e+11,0.0704,6.8737,6.4267,6.4126,7.0184,6.5694
3,SZSE.000001,2016-12-30 00:00:00+08:00,2016-12-30 00:00:00+08:00,9.10,1.3314e+11,1.5625e+11,0.2068,7.1462,6.8399,6.2604,7.1341,6.2644
4,SZSE.000001,2016-12-29 00:00:00+08:00,2016-12-29 00:00:00+08:00,9.08,1.3285e+11,1.5591e+11,0.2315,7.1305,6.8249,6.2466,7.1184,6.2506
5,SZSE.000001,2016-12-28 00:00:00+08:00,2016-12-28 00:00:00+08:00,9.06,1.3256e+11,1.5556e+11,0.2297,7.1147,6.8098,6.2329,7.1027,6.2369

In [43]:
ex1=get_fundamentals_n(table='balance_sheet', symbols=['SHSE.600000', 'SZSE.000001'],count=3,end_date='2017-06-01',
                     fields='UNDIPROF', df=True)
ex1

        symbol                  pub_date                  end_date    UNDIPROF
0  SHSE.600000 2017-04-27 00:00:00+08:00 2017-03-31 00:00:00+08:00  1.1085e+11
1  SHSE.600000 2017-04-01 00:00:00+08:00 2016-12-31 00:00:00+08:00  9.7316e+10
2  SHSE.600000 2016-10-29 00:00:00+08:00 2016-09-30 00:00:00+08:00  8.5792e+10
3  SZSE.000001 2017-04-22 00:00:00+08:00 2017-03-31 00:00:00+08:00  6.9483e+10
4  SZSE.000001 2017-03-17 00:00:00+08:00 2016-12-31 00:00:00+08:00  6.4143e+10
5  SZSE.000001 2016-10-21 00:00:00+08:00 2016-09-30 00:00:00+08:00  6.9463e+10

## classwork2

1  获取“380信息”所有股票在2021年第一天的最近一期的市值

2，获取上面市值排名前十的股票ID

3，编写策略：在2021年1月1日购买“380信息”市值排名前十的股票，看现在收益

,symbol,pub_date,end_date,NEGOTIABLEMV,TOTMKTCAP
0,SHSE.603533,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.3474e+10,1.3474e+10
1,SHSE.603508,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,5.4725e+09,6.6250e+09
2,SHSE.603258,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,7.5908e+09,7.8043e+09
3,SHSE.603888,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,9.8616e+09,9.8616e+09
4,SHSE.603228,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,2.5307e+10,2.5733e+10
5,SHSE.603444,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,3.0614e+10,3.0614e+10
6,SHSE.603039,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,2.1153e+10,2.1470e+10
7,SHSE.603881,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.2658e+10,1.4123e+10
8,SHSE.603626,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,5.5490e+09,5.6501e+09
9,SHSE.603920,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.0649e+10,1.0712e+10
10,SHSE.603989,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.0617e+10,1.0617e+10
11,SHSE.603220,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,2.6863e+09,4.8874e+09
12,SHSE.603068,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,8.0294e+09,1.1829e+10
13,SHSE.603267,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,2.0281e+10,2.9805e+10
14,SHSE.603327,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.9972e+09,7.8155e+09
15,SHSE.688002,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,2.5510e+10,4.9395e+10
16,SHSE.688008,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,3.4826e+10,9.3639e+10
17,SHSE.603613,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.5396e+10,3.0377e+10
18,SHSE.603927,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.3013e+10,1.6998e+10
19,SHSE.600667,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.9903e+10,1.9903e+10
20,SHSE.600171,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,9.8085e+09,9.8718e+09
21,SHSE.600206,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.1242e+10,1.1311e+10
22,SHSE.600363,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.0923e+10,1.1218e+10
23,SHSE.600446,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.3865e+10,1.3948e+10
24,SHSE.600460,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,3.2802e+10,3.2802e+10
25,SHSE.600556,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,4.4117e+09,2.2868e+10
26,SHSE.600562,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.0592e+10,2.1136e+10
27,SHSE.600563,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,2.4199e+10,2.4199e+10
28,SHSE.600131,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,7.6873e+09,1.7010e+10
29,SHSE.600728,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.3129e+10,1.3339e+10
30,SHSE.600756,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,5.0527e+09,5.0527e+09
31,SHSE.600845,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,5.7693e+10,5.9185e+10
32,SHSE.600850,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.1495e+10,1.1495e+10
33,SHSE.601231,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,4.2224e+10,4.2726e+10
34,SHSE.603000,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,1.8686e+10,1.8686e+10
35,SHSE.603328,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,7.9376e+09,7.9376e+09
36,SHSE.603678,2020-12-31 00:00:00+08:00,2020-12-31 00:00:00+08:00,3.2728e+10,3.2728e+10

['SHSE.603220',
 'SHSE.600756',
 'SHSE.603626',
 'SHSE.603508',
 'SHSE.603258',
 'SHSE.603327',
 'SHSE.603328',
 'SHSE.603888',
 'SHSE.600171',
 'SHSE.603989']